    
    h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font:60px;    
    }
    
    p{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font: 60px; 
    }