@import url('https://fonts.googleapis.com/css2?family=Italianno&family=WindSong:wght@400;500&display=swap');


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px 20px;
}

header a {
  color: rgb(14, 13, 13);
  text-decoration: none;
  margin-right: 10px;
}

#Corpo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f2f2f2;
  margin: 8px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: white;
  color: black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 150px;
  height: 10vh;
  text-decoration: none;
  margin-left: 10px;
  font-family: "Italianno", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}