@import url('https://fonts.googleapis.com/css2?family=Italianno&family=WindSong:wght@400;500&display=swap');


.italianno-regular {
    font-family: "Italianno", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

body {
    background-color: rgb(245, 237, 228);
    
}

body div h1 {
    font-size: 200px;
    margin: 1px 1px 1px 1px;
    text-align: center;
}

body header figure {
    margin: 10px 5px 10px 5px;
    padding: center;
}

.logo {
    margin: 10px 5px 10px 5px;
    padding: 5px 5px 5px 5px;
    float: left;
    clear: both;
    background-image: rgb(245, 237, 228);
}

body header figcaption {
    float: right;
}

body div figure {
    text-align: center;
}

.conteudo {
    display: flex row;
    align-items: center;
}

.descricao_prato h2 {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 50px;
    text-align: center;
    
}

.descricao_prato h3 {
    text-align: center;
    font-family: "Italianno", cursive, sans-serif;
    font-size: 30px;
    margin: 2px 2px 2px 2px;
}

.entrada {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

.centralizador {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px 150px;
    gap: 10px;
    align-content: center; */
    place-items: center;
    justify-self: center;
}

.table td {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 150px;
    
}

.image-cell {
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
    overflow: hidden;
    
}

.text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-family: "Italianno", cursive, sans-serif;
    font-size: 50px;

}

 .opacity-image {
     width: 100%;
     opacity: 0.4;
}

.Entrada {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

/* *-*-*-*-*-*-*-*-*-*-*-*- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    max-width: 400px;
    /* Largura máxima do grid */
    margin: auto;
}

.grid-item {
    width: 150px;
    /* Largura fixa das células */
    height: 150px;
    /* Altura fixa das células */
    background-color: #ddd;
    /* Cor de fundo para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 300px;
        /* Ajuste a largura máxima para telas menores */
    }

    .grid-item {
        width: 100px;
        /* Ajuste a largura das células para telas menores */
        height: 100px;
        /* Ajuste a altura das células para telas menores */
    }
}

.modal-body img {
    width: 100%;
    /* Faz a imagem ocupar 100% da largura do corpo do modal */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    /* Remove espaços extras abaixo da imagem */
}

.modal-content {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 2rem;
}

.modal-title {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 4rem; !important
    /* Título do modal maior */
}

/* *-*-*-*-*-*-*-*-*-*-*-*- */

.Almoco {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

.Jantar {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

.Sobremesa {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

.Bebidas {
    font-family: "Italianno", cursive, sans-serif;
    color: black;
    text-align: center;
}

/* *-*-*-*-*-*-*-*-*-*-*-*- */
 
/* PAGINA HOME */

/* *-*-*-*-*-*-*-*-*-*-*-*- */

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.carousel img.active {
    opacity: 0.5;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    /* Altere a cor conforme necessário */
    font-family: "Italianno", cursive, sans-serif;
    /* Sua fonte importada */
    font-size: 100px;
    /* Altere o tamanho conforme necessário */
    text-align: center;
    z-index: 2;
}

body, html {
    height: 100%;
    margin: 0;
}

.endereco {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 50px;
    padding: 25px 25px 25px 25px;
    margin: 16px 16px 16px 16px;

}

footer div h3 {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 40px;
    padding-top: 50px;
}

.horario {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 30px;
    margin: 0px;
}

.pagamento {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.icones {
    display: flex;
    /* Cria um contexto flexível para os ícones */
    justify-content: center;
    /* Centraliza os ícones horizontalmente */
    gap: 10px;
    /* Espaço entre os ícones */
 }

footer {
    width: 100%;
}



/* *-*-*-*-*-*-*-*-*-*-*-*- */

/* CSS */
#botaoTopo {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#botaoTopo:hover {
    background-color: #555;
}
